{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

<div><p></p></div>

<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/whatsapp.jpg' %}" alt="" style="width: 40%;">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Aprende Whatsapp</span>
            <span class="section-heading-lower">de la mejor forma</span>
            <a style="color:white" href="{% url 'Whatsapp' %}">Click para ir a Whatsapp</a>
          </h2>
        </div>
      </div>
    </div>
  </section>

{% endblock %}